:root {
  --wind: lightskyblue;
  --water: royalblue;
  --rudder: burlywood;
}

* {
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  place-items: center;
}

form {
  display: grid;
  gap: 0.25em;
}

form div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form label {
  padding: 0.25em;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  border: 1px solid black;
}

svg * {
  transform-origin: 50% 50%;
}

line {
  stroke: whitesmoke;
  stroke-width: 3px;
}
line.ship {
  stroke: darkgoldenrod;
}

.ship {
  background-color: palegoldenrod;
}
.wind {
  background-color: var(--wind);
}
.water {
  background-color: var(--water);
}
.rudder {
  background-color: var(--rudder);
}
