:root {
  --wind: lightskyblue;
  --water: royalblue;
  --rudder: burlywood;
  --ship: palegoldenrod;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.ship,
.ship * {
  background-color: var(--ship);
  border-color: gold;
}
.wind,
.wind * {
  background-color: var(--wind);
  border-color: slategray;
}
.water,
.water * {
  background-color: var(--water);
  border-color: blue;
}
.rudder,
.rudder * {
  background-color: var(--rudder);
  border-color: brown;
}
