:root {
  --wind: lightskyblue;
  --water: royalblue;
  --rudder: burlywood;
  --ship: palegoldenrod;
}

* {
  box-sizing: border-box;
}

.ship {
  background-color: var(--ship);
}
.wind {
  background-color: var(--wind);
}
.water {
  background-color: var(--water);
}
.rudder {
  background-color: var(--rudder);
}
